.history-container {
  position: relative;
  background-color: #e2d1b0;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  z-index: 0;
}

.history-box {
  color: #505050;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.torn-edge-dark {
  position: absolute;

  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  top: -90px;
}
.knight-container {
  background-color: #b89973;

  height: auto;
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
  padding-top: 90px;
}

@media (max-width: 1024px) {
  .torn-edge-dark {
    top: -60px;
  }
  .knight-container {
    padding-top: 60px;
  }
}

/* Phones */
@media (max-width: 640px) {
  .torn-edge-dark {
    top: -30px;
  }
  .knight-container {
    padding-top: 30px;
  }
}
