.history-container {
  position: relative;
  background-color: #e2d1b0;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  z-index: 0;
}

.history-box {
  color: #505050;
  display: flex;
  align-items: center;

  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-inline: var(--page-padding-x);
}
.history-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/shield-transparent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
}
.history-image {
  align-self: center;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.torn-edge-dark {
  position: absolute;

  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  top: -5px;
}
.decorative-border {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
}
.knight-container {
  background-color: #131f36;

  height: auto;
  position: relative;
  z-index: 1;
}
.horse-container {
  background-color: var(--color-parchment);
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horse-box {
  background-image: url("/knighttransparent2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
}
.instructor-box {
  padding-bottom: 50px;
}
.info-section {
  background-color: #131f36;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}
.star-divider {
  margin: 50px;
}

@media (max-width: 1024px) {
  .torn-edge-dark {
    top: 0px;
  }
  .decorative-border {
    top: -15px;
  }
  .knight-container {
    padding-top: 60px;
  }
  .history-text {
    min-height: 340px;
  }
}

/* Phones */
@media (max-width: 640px) {
  .knight-container {
    padding-top: 30px;
  }
  .decorative-border {
    top: -7px;
  }
  .history-text {
    min-height: 340px;
  }
  .horse-box {
    background: none;
  }
}
